.a1{
    color:snow;
    text-decoration:none;
  }
  #center1{
    font-size:20px;
  }
  .topnav{
    background-color:red;
border:9px solid red;
height:50px;
margin-right:0px;
  }
  .topnav2{
    background-color:lightgrey;
    margin-right:0px;
  }
#or
{
  text-align:center;
}
  #marq1
  {
    font-size:22px;
  }
 .div3{
    font-size:27px;
  }
.h1-1
{
  color:brown;
  text-align:center;
}
#h4{
  color:brown;
}
.plin1{
  color:red;
}
.plin2
{
  color:blue;
}
.sub1
{
  color:darkgreen;
}
.list
{
  list-style-type:square;
font-style:italic;
}
.topnav3
{
  background-color:whitesmoke;font-family:arial;
}
.topnav4{
  background-color:snow;
}
.topnav5
{
  background-color:rgb(207, 238, 250);
  border:9px solid rgb(207, 238, 250);
  font-size:21px;
}
.topnav6{
  background-color:rgb(32,79,179);
}
#b1{
  color:red;
}
#a2{
  text-decoration:none;font-family=arial;
}
a{
  text-decoration:none;
}
#b3
{
  color:orangered;
  font-size:20px;
  text-align:justify;
}
.navy
{
  color:navy;
  text-decoration:none
}
.p{
    text-align:justify;
    margin-left: 20px;
    margin-right: 20px;
}
.black-link
{
  color:black;
  text-decoration:none;
}
#bottomnav
{
 color:snow;
}
